.card_4 {
  width: 0%;
  height: 0%;
  top: 74%;
  left: 68%;
  animation: poof 2s ease-out 10s forwards;
}

@keyframes poof {
  0% {
    width: 0%;
    height: 0%;
    top: 74%;
    left: 68%;
  }

  100% {
    width: 54%;
    height: 55%;
    top: 44%;
    left: 41%;
  }
}

.card_5 {
  width: 0%;
  height: 0%;
  top: 0%;
  left: 0%;
  animation: spiderman 0.1s ease-out 12s forwards;
}

@keyframes spiderman {
  0% {
    width: 0%;
    height: 0%;
    top: 74%;
    left: 67%;
  }

  100% {
    width: 21%;
    height: 39%;
    top: 60%;
    left: 57%;
  }
}
